<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
  
  <h2 id="sentence"><%=@stone%></h2> 
  <img src=<%=@image%> height = 240>
  <img src="<%=@gif%>">
    
    
  </body>
</html>